@model KütüphaneOtomasyonu.Models.Entity.TblÜyeler
@{
    ViewBag.Title = "Güncelle";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<br />

@using (Html.BeginForm("Güncelle2", "Üyeler", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id)
    <label style="color:red">Ad</label>
    @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
    <br />
    <label style="color:red">Soyad</label>
    @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control" })
    <br />
    <label style="color:red">Mail</label>
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    <br />
    <label style="color:red">Kullanıcı Ad</label>
    @Html.TextBoxFor(x => x.KullanıcıAd, new { @class = "form-control" })
    <br />
    <label style="color:red">Şifre</label>
    @Html.TextBoxFor(x => x.Şifre, new { @class = "form-control" })
    <br />
    <label style="color:red">Fotoğraf Url</label>
    @Html.TextBoxFor(x => x.Fotoğraf, new { @class = "form-control" })
    <br />
    <label style="color:red">Telefon</label>
    @Html.TextBoxFor(x => x.Telefon, new { @class = "form-control" })
    <br />
    <label style="color:red">Okul</label>
    @Html.TextBoxFor(x => x.Okul, new { @class = "form-control" })
    <br />

    <button class="btn btn-info" style="background-color:saddlebrown">Güncelle</button>
}

